body {
  color: white;
  background-color: black;
}

.btn-circle { 
  width: 40px; 
  height: 40px; 
  padding: 6px 0px; 
  border-radius: 20px; 
  font-size: 14px; 
  text-align: center; 
} 


@media (min-width: 768px) {
  .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
      margin-left: 60px;
  }
}

@media (min-width: 768px) {
    .col-md-9 {
        flex: 0 0 auto;
        width: 70%;
    }
}

.main {
  margin-bottom: 80px;
}

.bg-light {
  --bs-bg-opacity: 0;
  /* background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important; */
}

#submit {
  border-radius: 28px;
  width: 180px;
  height: 49px;
}

.btn-info
{
  background-color: cyan;
}


#end {
  border-radius: 28px;
  width: 120px;
  height: 49px;
  margin-right: 20px;
}


/* LOGIN SIGNUP */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  flex-wrap: wrap;
  overflow: hidden;
}



section span:hover {
  background: cyan;
  transition: 0s;
}

section .signin {
  position: absolute;
  width: 28%;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}

section .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

section .signin .content h2 {
  font-size: 2em;
  color: cyan;
  text-transform: uppercase;
}

section .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}

section .signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

section .signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signin .content .form .links a {
  color: #fff;
  text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
  color: cyan;
  font-weight: 600;
}

.signin .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: cyan;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.6;
}

@media (max-width: 900px) {
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

@media (max-width: 600px) {
  section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}


.progress-bar.total-size {
  width: 210px;
  height: 210px;
  margin-left:40px ;
  margin-right: 80px;
}

.summary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

.progress-bar.total-size2 {
  width: 310px;
  height: 310px;
  margin-left: 30px;
}


